body {
	background-color: #FAFAFA;
}
* {
	box-sizing: border-box;
	font-family: 'Roboto', helvetica, sans-serif;
}
.wrapper {
	margin: 20px auto 0;
}
h1 {
	font-size: 32px;
	text-align: center;
}
.card {
	background-color: #212121;
	max-width: 400px;
	margin: 0 auto;
	border-radius: 20px;
	padding: 100px 20px 20px;
	position: relative;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	#validity {
		position: absolute;
		color: white;
		top: 20px;
		right: 20px;
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
	}
	input {
		width: 100%;
		appearance: none;
		-webkit-appearance: none;
   		-moz-appearance: none;
		border: 0;
		border-bottom: 2px solid gray;
		background: transparent;
		color: white;
		font-size: 24px;
		padding-bottom: 10px;
		outline: 0 !important;
	}
	input:focus + .line {
		width: 100%;
	}
	.line {
		display: block;
        height: 2px;
        width: 0%;
        background: white;
		margin-top: -2px;
		z-index: 100;
		margin-bottom: 20px;
		position: relative;
		transition: all ease-in-out 0.2s;
    }
	span {
		display: block;
		color: white;
		margin-bottom: 10px;
	}
	#logo {
		position: absolute;
		right: 20px;
		bottom: 20px;
		width: 80px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		&.visa {
			background-image: url(img/visa.png);
		}
		&.mastercard {
			background-image: url(img/mastercard.png);
		}
		&.amex {
			background-image: url(img/amex.png);
		}
		&.discovery {
			background-image: url(img/disc.png);
		}
	}
}